<h1>Listing properties</h1>

<a href="/maps/all">Map</a>

<table class="properties">
  <tr>
    <th>Photo</th>
    <th>Title</th>
    <th>Price</th>
    <th>Seen</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @properties.each do |property| %>
  <tr>
    <td>
      <a href='<%= property.url %>'>
        <img src='<%= property.photo_url %>'>
      </a>
    </td>
    <td>
      <a href='<%= property.url %>'>
        <span class="unique_id">RE <%= property.unique_id %></span><br/>
		<span class="title"><%= property.title %></span><br/>
      </a>
    </td>
    <td><%= property.display_price %></td>
    <td><%= property.seen_date %><br/></td>
    <td><%= link_to 'Show', property %></td>
    <td><%= link_to 'Edit', edit_property_path(property) %></td>
    <td><%= link_to 'Destroy', property, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
  <tr>
    <td></td>
    <td colspan=7><%= property.note %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Property', new_property_path %>
