<h1>Search properties</h1>

<a href="/maps/all">Show all on map</a><br/>
<a href="/properties">List all</a><br/>
<br/>

<% form_tag("/properties/search", :method => 'get') do %>
    <p>
      Title: <%= text_field_tag :title, params[:title] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>

<form action='search'>
  Title: <%= text_field_tag :title, params[:title] %>
  Seen? <%= select_tag :seen, options_from_collection_for_select(["Not Seen", "Seen"], "to_s", "to_s"), :include_blank => true %>
  <%= submit_tag "Search", :name => nil %>
</form>

<% if @properties.empty? %>
    <span>There were no results for your query</span><br/><br/>
<% else %>
    <br/>
    Showing <%= @properties.length %> properties at <%= DateTime.now.in_time_zone("Brisbane") %>

    <table class="properties">

    <%# TODO extract this to common stuff for index/search %>

    <% @properties.each do |property| %>
      <tr>
        <td>
          <a href='<%= property.url %>'>
            <img src='<%= property.photo_url %>'>
          </a>
        </td>
        <td>
            <a href='<%= property.url %>'>
                <span class="title"><%= property.title %></span><br/>
            </a>
            <%= property.display_price %><br/>
            <% property.inspections.each do |inspection| %>
              <a href='/inspections/<%= inspection.id %>'><%= inspection.start.in_time_zone(inspection.timezone) %> - <%= inspection.end.in_time_zone(inspection.timezone) %></a><br/>
            <% end %>
        </td>
        <td></td>
        <td><%= property.seen_date %><br/></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
      <tr>
        <td></td>
        <td colspan=7><%= property.note %></td>
      </tr>
    <% end %>
    </table>

<% end %>

<br />

<%= link_to 'New Property', new_property_path %>
