<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @property.title %>
</p>

<p>
  <b>Unique:</b>
  <%= @property.unique_id %>
</p>

<p>
  <b>Url:</b>
  <%= @property.url %>
</p>

<p>
  <b>Photo url:</b>
  <%= @property.photo_url %>
</p>

<p>
  <b>Address:</b>
  <%= @property.address %>
</p>

<p>
  <b>Seen date:</b>
  <%= @property.seen_date %>
</p>

<p>
  <b>Display price:</b>
  <%= @property.display_price %>
</p>

<p>
  <b>Note:</b>
  <%= @property.note %>
</p>

<p>
  <b>Latitude:</b>
  <%= @property.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @property.longitude %>
</p>


<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
